In [6]:
import numpy as np
import pandas as pd

data = pd.Series([10,20,30,40,50,np.nan],index = ['A','B','C','D','E','F']);
print(data)

A    10.0
B    20.0
C    30.0
D    40.0
E    50.0
F     NaN
dtype: float64

In [10]:
datas = {'name': ['negus','nati','okay'], 'department': ['Cs','Is','It'], 'Course': ['OOP','AI','DB'],'Grade': ['A+','B+','C+']};
df = pd.DataFrame(datas, columns = ['name','department','Course','Grade']);
df

    name department Course Grade
0  negus         Cs    OOP    A+
1   nati         Is     AI    B+
2   okay         It     DB    C+

In [11]:
pwd

'C:\\Users\\wku-cslab1'

In [18]:
import pandas as pd
data = pd.read_csv('sample.csv')
data

AttributeError: 'str' object has no attribute 'delmiter'

In [17]:
C:\\Users\\wku-cslab1

AttributeError: 'str' object has no attribute 'delmiter'

In [30]:
import pandas as pd
data = pd.read_csv('sample.csv', delimiter=', ')
data

C:\Users\wku-cslab1\AppData\Local\Temp\ipykernel_5424\3615532586.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('sample.csv', delimiter=', ')

  gender height
0    m     1.65
1    m     1.65
2    f     1.65
3    f     1.56
4    m     1.76
5     f     1.6

In [35]:
dat = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
dat

     A   B   C   D
0   41  84  72  94
1   82  23  94   6
2   33  33  43  12
3   90  47  81  86
4   25  36  35  72
..  ..  ..  ..  ..
95  72  71  55  13
96  98  13  28  26
97  86  31  14  42
98  65  43  82  85
99  72  81  86   2

[100 rows x 4 columns]

In [ ]:
import numpy as np
import pandas as np
from